{% extends "base.html" %}
{% block header %}{% endblock %}
{% block page_role %}id="sp-login-modal" data-role="dialog"{% endblock %}
{% block content %}
        <div data-role="header" data-theme="b">
            <h1>Sign In</h1>
        </div>
        <div data-role="content" data-theme="c" title="Sign In">
            <a href="{% url socialauth_begin 'google-oauth2' %}" id="sp-google-button" data-ajax="false" data-role="button" data-theme="b" data-icon="custom" data-iconshadow="false">Google</a>
            <a href="{% url socialauth_begin 'twitter' %}" id="sp-twitter-button" data-ajax="false" data-role="button" data-theme="b" data-icon="custom">Twitter</a>
            <a href="{% url socialauth_begin 'facebook' %}" id="sp-facebook-button" data-ajax="false" data-role="button" data-theme="b" data-icon="custom">Facebook</a>
        </div>
{% endblock %}
{% block footer %}{% endblock %}