<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/socialprofile.css" />
		
		<title>{% block headtitle %}Django Social Profiles{% endblock %}</title>
	
		{% block metatags %}
		{% endblock %}
		
		{% if debug %}
			<script type="text/javascript">
				var isDebug = true;
			</script>
		{% else %}
			<script type="text/javascript">
				var isDebug = false;
			</script>
		{% endif %}
		
		{% block head %}
		{% endblock %}
	</head>
	
	<body class='{% block body_class %}{% endblock %}'>

        <header>
			{% block header %}{% include "header.html" %}{% endblock %}
		</header>

		{% block content %}<p>No Content Defined</p>{% endblock %}
		
		<footer>
		{% block footer %}{% include "footer.html" %}{% endblock %}
        </footer>
		
	</body>
</html>