<script>
    $(function () {
        createDeleteAccountModal();
    });
    function createDeleteAccountModal() {
        $("#da-modal").dialog({ resizable:false, modal:true, autoOpen:false });
    }
    function openDeleteAccountModal() {
        $("#da-modal").dialog("open");
    }

    function closeDeleteAccountModal() {
        $("#da-modal").dialog("close");
    }
</script>

<div id="da-modal" title="Delete Your Account?">
    <ul id='da-modal-select'>
        <li><a href="{%  url delete_page %}">Completely Remove Your Account and All Items You've Created?</a></li>
        <li style="margin-top: 5px;"><a href="#" onclick="closeDeleteAccountModal()">Keep Account</a></li>
    </ul>
</div>