<script type="text/javascript">
    $(function () {
        createSignInDialog();
    });
    function createSignInDialog() {
        $("#dialog").dialog({ resizable:false, modal:true, autoOpen:false });
    }
    function openSignInDialog(postLoginPage) {
        if (typeof postLoginPage != 'undefined') {
            $("#login_select li a").attr("href",
                    function (i, val) {
                        return val + '?next=' + postLoginPage;
                    }
            );
        }
        $("#dialog").dialog("open");
    }
</script>

<div id="dialog" title="Select A Sign In Method">
    <ul id='login_select'>
        <li><a href="{% url socialauth_begin 'google-oauth2' %}"><span id="login_button_bottom">Google</span></a></li>
        <li><a href="{% url socialauth_begin 'twitter' %}"><span id="login_button_top">Twitter</span></a></li>
        <li><a href="{% url socialauth_begin 'facebook' %}"><span id="login_button_middle">Facebook</span></a></li>
    </ul>
</div>