<script type="text/javascript">
    $(function () {
        createLoginModal();
    });
    function createLoginModal() {
        $("#sp_login_modal").dialog({ resizable:false, modal:true, autoOpen:false });
    }
    function openLoginModal(postLoginPage) {
        if (typeof postLoginPage != 'undefined') {
            $("#sp_login_modal ul li a").attr("href",
                    function (i, val) {
                        return val + '?next=' + postLoginPage;
                    }
            );
        }
        $("#sp_login_modal").dialog("open");
    }
</script>

<div id="sp-login-modal" title="Select A Sign In Method">
    <ul>
        <li><a href="{% url socialauth_begin 'google-oauth2' %}"><span id="sp-google-button">Google</span></a></li>
        <li><a href="{% url socialauth_begin 'twitter' %}"><span id="sp-twitter-button">Twitter</span></a></li>
        <li><a href="{% url socialauth_begin 'facebook' %}"><span id="sp-facebook-button">Facebook</span></a></li>
    </ul>
</div>