{% extends "base.html" %}
{% load socialprofile_tags %}

{% block headtitle %}Profile{% endblock %}

{% block body_class %}{% endblock %}

{% block head %}{% endblock %}

{% block header %}
    <a href="{% url home_page %}" data-role="button" data-icon="delete">Cancel</a>
    <h1 class="ui-title">Edit Profile</h1>
    <a href="#" data-role="button" data-icon="check" onclick="$('#profile_form').submit();">Save</a>
{% endblock %}

{% block content %}
    <section title="profile">
        {% if user.get_profile.image_url %}
            <img src="{{ user.get_profile.image_url }}"/>
        {% endif %}
        {{ form.errors }}
        <form action="{%  url profile_page %}" method="post" id="profile_form">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <p><input type="submit" value="Save Changes"></p>
        </form>
    </section>
    <h2>Social Authentication Connections</h2>
    {% if user.social_auth.all.count == 1 %}
        {% with only_connection=user.social_auth.all|first %}
            <em>{{ only_connection.provider|social_provider_name }} is your only connection, it cannot be removed.</em>
        {% endwith %}
    {% else %}
        <ul>
            {% for user_social_auth in user.social_auth.all %}
                <a href="{% url socialauth_disconnect user_social_auth.provider %}"
                   data-role="button">Disconnect {{ user_social_auth.provider|social_provider_name }}</a>
            {% endfor %}
        </ul>

    {% endif %}

    <a href="{% url select_page %}" data-rel="dialog"
       data-role="button">Add Social Authentication Connection</a>
    <br>
    <br>
    <h2><a href="{% url delete_page %}" data-rel="dialog" data-role="button" data-theme="e">Delete Account</a></h2>
{% endblock %}