{% extends "base.html" %}
{% load socialprofile_tags %}

{% block headtitle %}Profile{% endblock %}

{% block body_class %}{% endblock %}

{% block head %}{% endblock %}

{% block header %}
    <a href="{% url sp_demo_secure_page %}" data-role="button" data-icon="delete">Cancel</a>
    <h1 class="ui-title">Edit Profile</h1>
    <a href="#" data-role="button" data-icon="check" onclick="$('#sp-profile-form').submit();">Save</a>
{% endblock %}

{% block content %}
    <section title="profile">
        {% if user.get_profile.image_url %}
            <img src="{{ user.get_profile.image_url }}"/>
        {% endif %}
        {{ form.errors }}
        <form action="{%  url sp_profile_page %}" method="post" id="sp-profile-form">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
        </form>
    </section>
    <h3 style="margin-left:10px;">Social Connections</h3>
    {% if user.social_auth.all.count == 1 %}
        {% with only_connection=user.social_auth.all|first %}
            <p style="margin-left:20px;"><em>{{ only_connection.provider|social_provider_name }} is your only connection, it cannot be removed.</em></p>
        {% endwith %}
    {% else %}
        <ul>
            {% for user_social_auth in user.social_auth.all %}
                <a href="{% url socialauth_disconnect user_social_auth.provider %}"
                   data-role="button">Disconnect {{ user_social_auth.provider|social_provider_name }}</a>
            {% endfor %}
        </ul>

    {% endif %}

    <a href="{% url sp_select_page %}" data-rel="dialog" data-role="button">Add Social Connection</a>
    <br>
    <br>
    <a href="{% url sp_delete_page %}" data-role="button" data-theme="e">Delete Account</a>
{% endblock %}