{% extends "base.html" %}
{% load socialprofile_tags %}

{% block headtitle %}Profile{% endblock %}

{% block header %}
    <header data-role="header" data-theme="b" data-position="fixed">
        <a href="/" data-role="button" data-icon="arrow-l" data-mini="true">Back</a>

        <h1 class="ui-title">{{ user.username }}'s Profile</h1>
        <a href="{% url sp_profile_edit_page %}" data-role="button" data-mini="true">Edit</a>
    </header>
{% endblock %}

{% block content %}
    <section title="profile">
        {% if user.social_profile.image_url %}
            <img src="{{ user.social_profile.image_url }}"/>
        {% endif %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field.value }}
            </div>
        {% endfor %}
    </section>
{% endblock %}