{% extends "base.html" %}

{% block headtitle %}Select a Way To Sign In{% endblock %}

{% block body_class %}{% endblock %}

{% block head %}{% endblock %}

{% block content %} 
	{% if user.is_authenticated %}
	Thanks for visiting the site!
	{% else %}
	Please choose a method to get access to this site:
	<ul>
		<li><a href="{% url socialauth_begin 'google-oauth2' %}?next={{ next }}">Google/Gmail</a></li>
		<li><a href="{% url socialauth_begin 'twitter' %}?next={{ next }}">Twitter</a></li>
		<li><a href="{% url socialauth_begin 'facebook' %}?next={{ next }}">Facebook</a></li>
	</ul>
	{% endif %}
{% endblock %}
