{% extends "base.html" %}

{% block headtitle %}Accept Terms and Conditions{% endblock %}

{% block body_class %}{% endblock %}

{% block head %}
    <style>
        .terms-text {
            width: 80%;
        }
        .terms-form {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <section title="termsandconditions">
        <h1>Accept Terms and Conditions</h1>
        {{ form.errors }}
        <form action="{%  url terms_accept_page %}" method="post" class="terms-form">
            {% csrf_token %}
            {{ form.text }}
            {{ form.slug }}
            {{ form.version_number }}
            {{ form.returnTo }}
            <p><input type="submit" value="Accept"></p>
        </form>
    </section>
{% endblock %}