{% extends "base.html" %}

{% block headtitle %}Profile{% endblock %}

{% block body_class %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <section title="profile">
        {%  if user.get_profile.image_url %}
            <img src="{{ user.get_profile.image_url }}" />
        {% endif %}
        <h1>Edit Your Profile</h1>
        {{ form.errors }}
        <form action="{%  url profile_page %}" method="post">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <p><input type="submit" value="Save Changes"></p>
        </form>
    </section>
{% endblock %}