nav ul{margin:0;padding:0 1em 0 0;text-align:center}
nav li{display:inline;padding-left:1em;}
#login_select {list-style:none;list-style-type:none;margin-left:-30px;}
#login_select span {margin-top:6px;}
#login_button_top {width:244px; height:46px;display:block;background:url('/static/images/social_signin_buttons.png') 0 0 no-repeat;text-indent:-9999em}
#login_button_middle {width:244px; height:46px;display:block;background:url('/static/images/social_signin_buttons.png') 0 -45px no-repeat;text-indent:-9999em}
#login_button_bottom {width:244px; height:46px;display:block;background:url('/static/images/social_signin_buttons.png') 0 -90px no-repeat;text-indent:-9999em}