# This .gitignore file covers the buildout directory - the files listed here can be deleted to start with a fresh buildout.
*.egg-info*.py[co]
.DS_Store
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts