.sp-login-modal .ui-dialog-contain {
    max-width: 273px;
}

#sp-google-button .ui-icon-custom, #sp-twitter-button .ui-icon, #sp-facebook-button .ui-icon {
    margin-top: -16px;
    width: 34px;
    height: 34px;
    background: transparent url('../images/social_logo_strip_32.png') no-repeat;
    border-radius: 0;
}

#sp-twitter-button .ui-icon-custom {
    background-position: -74px 0;
}

#sp-facebook-button .ui-icon-custom {
    background-position: -36px 0;
}

#sp-profile-form ul {
    list-style: none;
}

#sp-profile-form ul li {
    margin-top: 10px;
}

#sp-profile-form .helptext {
    display: none;
}

.sp-profile-img {
    margin-top: 10px;
    margin-left: 10px;
}

.sp-profile-img img {
    display: inline-block;
    height: 80px;
    width: 80px;
}

.sp-profile-name {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 8px;
}

.sp-profile-block label {
    float: left;
    width: 110px;
    text-align: right;
    font-weight: normal;
    margin-right: 10px;
}

.sp-profile-block li div {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    float: left;
}

.errorlist li {
    font-weight: bold;
    margin: 15px 15px 15px 15px;
    color: #ff0000;
}