#sp-login-modal .ui-dialog-contain {max-width: 273px;}
#sp-google-button {width:244px; height:45px;display:block;background:url('../images/social_signin_buttons.png') 0 -90px no-repeat;text-indent:-9999em;margin-top:4px;}
#sp-twitter-button {width:244px; height:45px;display:block;background:url('../images/social_signin_buttons.png') 0 0 no-repeat;text-indent:-9999em;margin-top:20px;}
#sp-facebook-button {width:244px; height:45px;display:block;background:url('../images/social_signin_buttons.png') 0 -45px no-repeat;text-indent:-9999em;margin-top:20px;}
#sp-terms {font-size: 12px;}