{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/socialprofile.css' %}"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css"/>

    <title>{% block headtitle %}Django Social Profiles{% endblock %}</title>

    {% block metatags %}
    {% endblock %}

    {% if debug %}
        <script type="text/javascript">
            var isDebug = true;
        </script>
    {% else %}
        <script type="text/javascript">
            var isDebug = false;
        </script>
    {% endif %}

    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

    {% block head %}
    {% endblock %}
</head>

<body class='{% block body_class %}{% endblock %}'>

<div {% block page_role %}data-role="page" data-theme="b"{% endblock %}>

    <header data-role="header" data-theme="b" data-position="fixed">
        {% block header %}{% include "header.html" %}{% endblock %}
    </header>

    {% block content %}<p>No Content Defined</p>{% endblock %}

    <footer data-role="footer" data-theme="b" data-position="fixed">
        {% block footer %}{% include "footer.html" %}{% endblock %}
    </footer>

    {% block bottom_js %}{% endblock %}

</div>

</body>
</html>